@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-slate-100;
  }
}

/* Custom Scrollbar for sleek premium look */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0B0F19;
}
::-webkit-scrollbar-thumb {
  background: #1F293D;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3B82F6;
}
